extends layout

block title
  | #{provider.name}

block content
  h1= provider.name
  if message
    p(style="max-width: 20em; margin: 0 auto;") #{message}
  h3(id='otp')= provider.otp
  p= 'Seconds remaining: '
    span(id='secs')
  p
    a(href='/')= 'Back'
  p
    a(href='/p/' + provider.name.toLowerCase() + '/delete')= 'Delete'
  script.
    async function sleep(ms){
      return new Promise(r=>setTimeout(r,ms));
    }

    function secsRemaining(){
      return 30-((new Date().getSeconds())%30);
    }

    async function update(reload = true){
      const numSecs=secsRemaining();
      if(numSecs === 30 && reload){
        const otpDiv = document.getElementById('otp');
        const response = await fetch('/code');
        if(!response.ok){
          otpDiv.textContent='Error!';
        }
        const code = await response.text();
        otpDiv.innerText = code;
      }

      const secs=document.getElementById('secs');
      if(!secs) return;

      secs.textContent = numSecs;
    }

    let timeout;
    (async () => { 
      update(false);
      // Don't know if the plus 5 is necessary but yolo
      await sleep(1000-new Date().getMilliseconds());
      update();

      timeout=setInterval(update,1000);
    })();